.hero {
  background-image: url("../../assets/images/Background1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 138px;
  padding-bottom: 84px;
}

.hero__content {
  max-width: 665px;
  width: 100%;
}

.hero__description {
  margin-top: 30px;
  width: 100%;
  max-width: 565px;
}

.hero__newsletter {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  border-radius: 8px;
  background-color: white;
  padding: 5px;
  width: 100%;
  max-width: 422px;
}

.hero__newsletter-input {
  border: none;
  padding-left: 15px;
  flex-grow: 1;
  font-size: 14px;
  line-height: 36px;
}

@media (min-width: 768px) {
  .hero {
    justify-content: start;
  }

  .hero__content {
    margin-left: 24px;
  }

  .hero__description {
    font-size: 16px;
    line-height: 28px;
  }

  .hero__content,
  .hero__title {
    text-align: start;
  }

  .hero__newsletter-input {
    font-size: 16px;
    line-height: 36px;
  }
}

@media (min-width: 1400px) {
  .hero {
    height: 100vh;
  }

  .hero__description {
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.2px;
  }
}
